<p>category-product works!</p>
<div class="table-wrapper">
  <table class="main-table">
    <thead>
      <tr>
        <th style="width: 30%;">Ma Danh Muc</th>
        <th>Ten Danh Muc</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let cate of categories">
        <tr class="category-row">
          <td>{{ cate.Cateid }}</td>
          <td>{{ cate.CateName }}</td>
        </tr>
        <tr>
          <td colspan="2" class="nested-cell">
            <table class="sub-table">
              <thead>
                <tr>
                  <th style="width: 20%;">Ma San Pham</th>
                  <th style="width: 30%;">Ten San Pham</th>
                  <th style="width: 25%;">Gia San Pham</th>
                  <th style="width: 25%;">Picture</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of cate.Products">
                  <td>{{ p.ProductId }}</td>
                  <td>{{ p.ProductName }}</td>
                  <td>{{ p.Price }}</td>
                  <td class="img-cell">
                    <img [src]="p.Image" [alt]="p.ProductName">
                  </td>
                </tr>

              </tbody>
            </table>

          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>