<p>ex18-customer-group works!</p>
<table class="table-group">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let group of customerGroups()">
      <tr class="group-header">
        <td colspan="5">{{ group.CustomerTypeId }} - {{ group.CustomterTypeName }}</td>
      </tr>

      <tr *ngFor="let cus of group.Customers">
        <td>{{ cus.Id }}</td>
        <td>{{ cus.Name }}</td>
        <td>{{ cus.Email }}</td>
        <td>{{ cus.Age }}</td>
        <td>
          <img [src]="cus.Image" alt="Avatar" class="avatar">
        </td>
      </tr>

    </ng-container>
  </tbody>
</table>